{% for resource in resources %}
	{% for action in resource.actions %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="btn btn-{{ action.method | labelize }}">{{ action.method }}</span>
				<code>{{ resource.uriTemplate | escape }}</code>
			</div>
			<div class="panel-body">
				{{ action.description | markdownize }}
			</div>
			<ul class="list-group">
				{% if resource.parameters.size > 0 %}
					<li class="list-group-item bg-default"><strong>Parameters</strong></li>
					<li class="list-group-item parameters-li">
						{% render 'parameters' with resource.parameters as parameters %}
					</li>
				{% endif %}
				{% if action.examples.size > 0 %}
					{% render 'examples' with action.examples as examples %}
				{% endif %}
			</ul>
		</div>
	{% endfor %}
{% endfor %}
